<header style='text-align:center;'>
	<h1>Header de catalogo</h1>
</header>
<style>
	table {
		width: 100%;
	}

	th,
	td {
		width: 50%;
	}

	ul {
		list-style: none;
	}

	li {
		padding: 5px;
	}
</style>
<div margin-top: 100px; margin-bottom: 100px;>
	<h1 style="text-align: center;">Catalogo</h1>
	<table style="border-collapse: separate; border-spacing: 200px 10px;">
		<thead>
			<th style="text-align: center;">Novedades</th>
			<th style="text-align: center;">Recomendaciones</th>
		</thead>
		<tbody>
			<tr>
				<td>
					<ul>
						<li>
							<ul>
								<li><img src="imgs/foto1.png" alt="pelicula1" style="width: 200px; height: 150px;"></li>
								<li>Titulo1</li>
							</ul>
						</li>
						<li>
							<ul>
								<li><img src="imgs/foto2.png" alt="pelicula1" style="width: 200px; height: 150px;"></li>
								<li>Titulo2</li>
							</ul>
						</li>
						<li>
							<ul>
								<li><img src="imgs/foto1.png" alt="pelicula1" style="width: 200px; height: 150px;"></li>
								<li>Titulo3</li>
							</ul>
						</li>
						<li>
							<ul>
								<li><img src="imgs/foto2.png" alt="pelicula1" style="width: 200px; height: 150px;"></li>
								<li>Titulo4</li>
							</ul>
						</li>
						<li>
							<ul>
								<li><img src="imgs/foto1.png" alt="pelicula1" style="width: 200px; height: 150px;"></li>
								<li>Titulo5</li>
							</ul>
						</li>
						<li>
							<ul>
								<li><img src="imgs/foto2.png" alt="pelicula1" style="width: 200px; height: 150px;"></li>
								<li>Titulo6</li>
							</ul>
						</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>
							<ul>
								<li><img src="imgs/foto2.png" alt="pelicula1" style="width: 200px; height: 150px;"></li>
								<li>Titulo1</li>
							</ul>
						</li>
						<li>
							<ul>
								<li><img src="imgs/foto1.png" alt="pelicula1" style="width: 200px; height: 150px;"></li>
								<li>Titulo2</li>
							</ul>
						</li>
						<li>
							<ul>
								<li><img src="imgs/foto2.png" alt="pelicula1" style="width: 200px; height: 150px;"></li>
								<li>Titulo3</li>
							</ul>
						</li>
						<li>
							<ul>
								<li><img src="imgs/foto1.png" alt="pelicula1" style="width: 200px; height: 150px;"></li>
								<li>Titulo4</li>
							</ul>
						</li>
						<li>
							<ul>
								<li><img src="imgs/foto2.png" alt="pelicula1" style="width: 200px; height: 150px;"></li>
								<li>Titulo5</li>
							</ul>
						</li>
						<li>
							<ul>
								<li><img src="imgs/foto1.png" alt="pelicula1" style="width: 200px; height: 150px;"></li>
								<li>Titulo6</li>
							</ul>
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<footer style='text-align:center;'>
	<h4>Footter de catalogo</h4>
</footer>
