<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>if</title>
</head>
<body>
    {% if numero > 0 %}
    Positivo
    {% else %}
    Menor o igual que 0
    {%endif%}
</body>
</html>