<header style='text-align:center;'>
	<h1>Header de index</h1>
</header>
<div style='margin:100px;'>
	<h2 style='text-align: center;'>Bloque1</h2>
	<p style='width: 20%; float: left;'>Este es el texto que va a la izquierda</p>
	<img src='imgs/foto1.png' alt='Esta es la imagen que va a la derecha' style='width: 200px; height: 150px; float: left; margin-left:100px;'>
</div><br>
<div style='margin:100px;'>
	<h2 style='text-align: center;'>Bloque2</h2>
	<p style='width: 20%; float: left;'>Este es el texto que va a la izquierda</p>
	<img src='imgs/foto2.png' alt='Esta es la imagen que va a la derecha' style='width: 200px; height: 150px; float: left; margin-left:100px;'>
</div><br>
<div style='margin:100px;'>
	<h2 style='text-align: center;'>Bloque3</h2>
	<p style='width: 20%; float: left;'>Este es el texto que va a la izquierda</p>
	<img src='imgs/foto1.png' alt='Esta es la imagen que va a la derecha' style='width: 200px; height: 150px; float: left; margin-left:100px;'>
</div><br>
<div style='margin:100px;'>
	<h2 style='text-align: center;'>Bloque4</h2>
	<p style='width: 20%; float: left;'>Este es el texto que va a la izquierda</p>
	<img src='imgs/foto2.png' alt='Esta es la imagen que va a la derecha' style='width: 200px; height: 150px; float: left; margin-left:100px;'>
</div><br>
<footer style='text-align:center;'>
	<h4>Footter de index</h4>
</footer>
