<header style='text-align:center;'>
	<h1>Header de login</h1>
</header>
<div style="display:flex; justify-content:center; margin-top:100px; margin-bottom:100px;">
	<form action="" method="post">
		<table>
			<tbody>
				<tr>
					<td>
						<label for="username" style="font-family:verdana;">Nombre de usuario</label>
					</td>
					<td><input type="text" name="username" id="username" placeholder="Nombre de usuario" style="font-family:verdana;"></td>
				</tr>
				<tr>
					<td>
						<label for="password" style="font-family:verdana;">Contraseña:</label>
					</td>
					<td><input type="password" name="password" id="password" placeholder="Contraseña" style="font-family:verdana;"></td>
				</tr>
				<tr>
					<td>
						<button type="submit" style="background-color:rgb(58, 125, 229);border: blue solid 1px;">Entrar</button>
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<footer style='text-align:center;'>
	<h4>Footter de login</h4>
</footer>
