<header style='text-align:center;'>
	<h1>Header de registro</h1>
</header>
<div style="display:flex; justify-content:center; margin-top:100px;
				    margin-bottom:100px;">
	<form action="" method="post">
		<table>
			<tbody>
				<tr>
					<td>
						<label for="usuario" style="font-family:verdana;">Nombre de usuario:</label>
					</td>
					<td><input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" style="font-family:verdana;"></td>
				</tr>
				<tr>
					<td>
						<label for="email" style="font-family:verdana;">Email:</label>
					</td>
					<td><input type="text" name="email" id="email" placeholder="Direccion email" style="font-family:verdana;"></td>
				</tr>
				<tr>
					<td>
						<label for="contrasena" style="font-family:verdana;">Contrase単a:</label>
					</td>
					<td><input type="password" name="contrasena" id="contrasena" placeholder="Contrase単a" style="font-family:verdana;"></td>
				</tr>
				<tr>
					<td>
						<label for="contrasena" style="font-family:verdana;">Confirmar contrase単a:</label>
					</td>
					<td><input type="password" name="contrasena" id="contrasena" placeholder="Repetir contrase単a" style="font-family:verdana;"></td>
				</tr>
				<tr>
					<td>
						<button type="submit" style="background-color:rgb(58, 125, 229);border: blue solid 1px;">Registrar</button>
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<footer style='text-align:center;'>
	<h4>Footter de registro</h4>
</footer>
